{% if not its_me and app.user and canAddFriend(user) %}
    <button type="button" title="Добавить в друзья" class="btn btn-primary mb-1" data-toggle="modal"
            data-target="#addFriendModal">
        <i class="fa fa-user-plus"></i> Добавить в друзья
    </button>
    <div id="addFriendModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Запрос в друзья к {{ user.username }}</h5>
                </div>
                <form method="post" action="{{ path('app_friends_addrequest',{id:user.id}) }}">
                    <div class="modal-body">
                        <div class="form-group m-0">
                            <label>Приветсвенное сообщение</label>
                            <textarea class="form-control" name="comment">Здравствуйте {{ user.name }}! Я хотел(а) бы добавить Вас в друзья</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
