{% if app.user and project.user != app.user %}
        {% if not inWatch(project) %}
            <a title="Наблюдать за проектом" class="btn btn-primary  mb-1"
               href="{{ path('app_project_addtowwatch',{id:project.id}) }}">
                <i class="fa fa-heart"></i> Наблюдать за проектом
            </a>
        {% else %}
            <a title="Наблюдать за проектом" class="btn btn-secondary mb-1"
               href="{{ path('app_project_removetowwatch',{id:project.id}) }}">
                <i class="fa fa-heart"></i> Прекратить наблюдение
            </a>
        {% endif %}
{% endif %}