{% if not its_me and app.user %}
    <button type="button" title="Добавить в друзья" class="btn btn-primary mb-1" data-toggle="modal"
            data-target="#messageModal">
        <i class="fa fa-comment"></i> Написать сообщение
    </button>
    <div id="messageModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" action="{{ path('app_message_sendmessage',{id:user.id}) }}">
                    <div class="modal-body">
                        <h5>Написать сообщение {{ user.username }}</h5>
                        <div class="form-group m-0">
                            <textarea minlength="1" class="form-control" name="message"
                                      placeholder="Начните печатать сообщение..."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
