{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form,{'attr':{'class':'position-relative'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.birthdate) }}
    {{ form_row(form.city) }}
    {{ form_row(form.social) }}
    {{ form_row(form.notify) }}
    {% if is_granted('ROLE_SUPER_ADMIN') and app.user!=user %}
        <div class="form-group">
            <label>Сменить пароль для пользователя</label>
            <input name="new-password" type="text" class="form-control">
        </div>
        {{ form_row(form.email) }}
        {{ form_row(form.enabled) }}
    {% endif %}
    <div class="media">
        <div class="media-body">
            {{ form_row(form.image_file) }}
        </div>
        {% if user.image is not null %}
            <div style="height: 100px;width: 100px" class="ml-3 mb-3">
                {% include 'image.html.twig' with {image:user.image} %}
            </div>
        {% endif %}
    </div>
    <input type="submit" value="Сохранить" class="btn-primary btn">
    <a class="btn btn-secondary" href="{{ path('app_profile_show',{id:user.id}) }}">Отмена</a>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Редактирование профиля
{% endblock %}

