{% extends '/profile/profile.html.twig' %}

{% set game_editor = canGame(app.user) %}

{% block info %}
    {% if its_me %}
        <div class="row">
            <div class="col-12">
                {% if game_editor %}
                    <h3 class=" text-center">Ведущий в играх</h3>
                    <a href="{{ path('app_game_create') }}" class="btn btn-primary mb-1">
                        <b>+</b><i class="fa fa-check"></i> Добавить игру
                    </a>
                    {% set can_edit_game = user.myGames(true)|length > 0 and app.user == user.myGames(true)[0].organizer %}
                    {% include '/game/table.html.twig' with {games:user.myGames(true), show_status:true } %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <h3 class=" text-center">Участник в играх</h3>
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'Project'|trans }}</th>
                        <th>{{ 'Game'|trans }}</th>
                        <th>{{ 'Step day'|trans }}</th>
                        <th>{{ 'Count'|trans }}</th>
                        <th>Нужно вышить</th>
                        <th>{{ 'Image'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in user.players %}
                        {% if not player.gameOver %}
                            {% set game = player.game %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_project_show', {'id': player.project.id}) }}">{{ player.project.name }}</a>
                                </td>
                                <td><a href="{{ path('app_game_show', {'id': game.id}) }}">{{ game.name }}</a></td>
                                <td>{{ game.stepDay | stepDay }}</td>
                                <td>{{ gameProgress(player) }}</td>
                                <td>{{ mustCross(player) }}</td>
                                <td>
                                    {% include 'img-tooltip.html.twig' with {image:player.project.photo(game.lastStep,true)} %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ its_me?'Мои игры':'Игры '~user.username }}
{% endblock %}

