{% extends 'profile/profile.html.twig' %}

{% block title %}
    {% if app.user == user %}
        Мой профиль
    {% else %}
        Профиль {{ user.username }}
    {% endif %}
{% endblock %}
{% block info %}
    <div class="row">
        <div class="col-12 col-md-3 mb-3 text-right" style="height: 100px">
            {% include 'image.html.twig' with {image:user.image} %}
        </div>
        <div class="col-12 col-md-9 mb-3">
            {% include 'profile/info.html.twig' with {user:user} %}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {% if can_edit %}
                <a title="Добавить проект" class="btn btn-primary mb-1" href="{{ path('app_project_create') }}">
                    <i class="fa fa-plus"></i> Добавить проект
                </a>
                <a title="Редактировать профиль" class="btn btn-secondary mb-1"
                   href="{{ path('app_profile_edit',{user_id:user.id}) }}">
                    Редактировать профиль
                </a>
            {% endif %}
            {% include '/profile/_add_friend.html.twig' %}
            {% include '/profile/_send_message.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <h3 class=" text-center">Текущие проекты</h3>
            {% include 'profile/projects.html.twig' with {type:1,projects:current_projects, can_edit:can_edit} %}
        </div>
        <div class="col-12 mb-3">
            <h3 class=" text-center">Будущие проекты</h3>
            {% include 'profile/projects.html.twig' with {type:2,projects:future_projects, can_edit:can_edit} %}
        </div>
        <div class="col-12 mb-3">
            <h3 class=" text-center">Завершенные проекты</h3>
            {% include 'profile/projects.html.twig' with {type:3,projects:done_projects, can_edit:can_edit} %}
        </div>
    </div>
{% endblock %}