<p class="mb-1">
    <b>{{ user.username }}</b>
    {% for reward in user.rewards %}
        {% include 'reward.html.twig' %}
    {% endfor %}
    <br/>
    Имя: <b>{{ user.name }}</b><br/>
    Дата регистрации: <b>{{ user.createdAt | date ('d.m.Y') }}</b><br/>
    Город: <b>{{ user.city }}</b><br/>
    {% if user.years is not null %}
        Возраст: <b>{{ user.years }}</b><br/>
    {% endif %}
    Сайт: <b>{{ user.social }}</b><br/>
</p>
<div style="width: fit-content" class="alert mb-0 alert-{{ user | speed ==0?'danger':'success' }}">Средняя скорость:
    <b>{{ user | speed  }}</b> кр./день
</div>
