{% extends 'base.html.twig' %}
{% set new_messages = app.user | newMessages %}
{% set its_me = (app.user == user) %}
{% set can_edit = (its_me or is_granted('ROLE_SUPER_ADMIN')) %}
{% block content %}
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-center">
            <h2 class=" text-center">
                {% block title %}
                {% endblock %}
            </h2>
        </div>
    </div>
    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link {{ (app.request.pathInfo==path('app_profile_show',{id:user.id}) or app.request.pathInfo==path('fos_user_profile_show') )?'active':'' }}"
               href="{{ path('app_profile_show',{id:user.id}) }}">
                <i class="fa fa-user"></i>
                Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ app.request.pathInfo==path('app_profile_gallery',{id:user.id})?'active':'' }}"
               href="{{ path('app_profile_gallery',{id:user.id}) }}">
                <i class="fa fa-picture-o"></i>
                Галерея
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ active(path('app_profile_games',{id:user.id})) }}"
               href="{{ path('app_profile_games',{id:user.id}) }}">
                <i class="fa fa-check"></i>
                Игры
            </a>
        </li>
        {% if its_me %}
            <li class="nav-item">
                <a class="nav-link {{ active(path('app_friends_index')) }}"
                   href="{{ path('app_friends_index') }}">
                    <i class="fa fa-users"></i>
                    Друзья
                    {% if app.user.inRequests |length >0 %}
                        <span class="text-success">+ {{ app.user.inRequests |length }}</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ active(path('app_message_index')) }}"
                   href="{{ path('app_message_index') }}">
                    <i class="fa fa-envelope"></i>
                    Сообщения {% if new_messages > 0 %} +{{ new_messages }}{% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ active(path('app_project_watchlist')) }}"
                   href="{{ path('app_project_watchlist') }}">
                    <i class="fa fa-heart"></i>
                    Наблюдаю
                </a>
            </li>
        {% endif %}
    </ul>
    {% block info %}
    {% endblock %}
{% endblock %}
