{% if projects is defined and projects | length >0 %}
    <table class="table table-sm table-bordered">
        <thead>
        <tr class="d-none d-sm-table-row">
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Size'|trans }}</th>
            {% if type != 2 %}
                <th>{{ 'Start'|trans }}</th>
            {% endif %}
            {% if type != 3 %}
                <th>{{ 'End plan'|trans }}</th>
            {% endif %}
            {% if type == 3 %}
                <th>{{ 'End'|trans }}</th>
            {% endif %}
            {% if type != 2 %}
                <th>Вышито</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            {% if not project.hidden or can_edit %}
                <tr class="d-none d-sm-table-row">
                    <td>
                        {% include '/project/link.html.twig' %}
                    </td>
                    <td>{{ project.size }}</td>
                    {% if type != 2 %}
                        <td>
                            {{ project.start | date ('d.m.Y') }}
                        </td>
                    {% endif %}
                    {% if type != 3 %}
                        <td>
                            {% if project.endPlan %}
                                {{ project.endPlan | date ('d.m.Y') }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if type == 3 %}
                        <td>{{ project.end  | date ('d.m.Y') }}</td>
                    {% endif %}
                    {% if type != 2 %}
                        <td>
                            {% if type == 3 %}
                                {{ project.progressCount }}
                            {% elseif project.crossCount > 0 %}
                                {{ include('progress_bar.hrml.twig', {project:project}) }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                <tr class="d-table-row d-sm-none">
                    <td>
                        {% include '/project/link.html.twig' %}
                        <div>{{ 'Size' | trans }}: {{ project.size }}</div>
                        {% if type != 2 %}
                            <div>{{ 'Start' | trans }}: {{ project.start | date ('d.m.Y') }}</div>
                        {% endif %}
                        {% if project.endPlan and type != 3 %}
                            <div>{{ 'End plan' | trans }}:{{ project.endPlan | date ('d.m.Y') }}</div>
                        {% endif %}
                        {% if type == 3 %}
                            <div>{{ 'End' | trans }}: {{ project.end | date ('d.m.Y') }}</div>
                        {% endif %}
                        {% if type != 2 %}
                            <div>
                                {% if type == 3 %}
                                    Вышито: {{ project.progressCount }}
                                {% elseif project.crossCount > 0 %}
                                    {{ include('progress_bar.hrml.twig', {project:project}) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <hr/>
{% endif %}