{% extends '/profile/profile.html.twig' %}
{% set user = app.user %}
{% block title %}
    Наблюдаю за проектами
{% endblock %}

{% block info %}
    {% set projects = app.user.watchProjects %}
    <div class="row">
        <div class="col-12">
            <table class="table table-md table-bordered">
                <thead>
                <tr class="d-none d-md-table-row">
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'User'|trans }}</th>
                    <th>{{ 'Size'|trans }}</th>
                    <th>{{ 'Start'|trans }}</th>
                    <th>{{ 'End plan'|trans }}</th>
                    <th>{{ 'End'|trans }}</th>
                    <th>Вышито</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr class="d-none d-md-table-row">
                        <td>
                            {% include '/project/link.html.twig' %}
                        </td>
                        <td>
                            {% include 'profile.html.twig' with {profile:project.user} %}
                        </td>
                        <td>{{ project.size }}</td>
                        <td>
                            {% if project.start %}
                                {{ project.start | date ('d.m.Y') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if project.endPlan %}
                                {{ project.endPlan | date ('d.m.Y') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if project.end %}
                                {{ project.end  | date ('d.m.Y') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if project.crossCount > 0 %}
                                {{ include('progress_bar.hrml.twig', {project:project}) }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="d-table-row d-md-none">
                        <td>
                            {% include '/project/link.html.twig' %}
                            <div>{{ 'User' | trans }}: {% include 'profile.html.twig' with {profile:project.user} %}
                            </div>
                            <div>{{ 'Size' | trans }}: {{ project.size }}</div>
                            {% if  project.start %}
                                <div>{{ 'Start' | trans }}: {{ project.start | date ('d.m.Y') }}</div>
                            {% endif %}
                            {% if project.endPlan %}
                                <div>{{ 'End plan' | trans }}:{{ project.endPlan | date ('d.m.Y') }}</div>
                            {% endif %}
                            {% if project.end %}
                                <div>{{ 'End' | trans }}: {{ project.end | date ('d.m.Y') }}</div>
                            {% endif %}
                            <div>
                                {% if project.crossCount > 0 %}
                                    {{ include('progress_bar.hrml.twig', {project:project}) }}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if projects | length == 0 %}
                <h5 class="text-center text-light">Вы не добавили проекты для наблюдения</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}

