{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="recaptcha">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}
    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"
               class="form-control"
               required="required"
               autocomplete="username"/>
    </div>
    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" class="form-control"
               autocomplete="current-password"/>
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="form-group">
        <input class="btn btn-primary" type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans }}"/>
        <a class="btn btn-secondary" href="{{ url('fos_user_registration_register') }}">Регистрация</a>
        <a class="btn btn-link" href="{{ url('fos_user_resetting_request') }}">Забыли пароль?</a>
    </div>
</form>