{% extends 'base.html.twig' %}

{% block title %}Добро пожаловать!{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="">Что это такое?</h1>
            <p>
                Это удобная и простая записная книжка для вышивающих крестиком. Каждому зарегистрированному участнику на
                ресурсе предоставляется личное пространство, в котором можно рассказать о себе, а также:
            <ul>
                <li>создать галерею своих уже вышитых работ;</li>
                <li>показать процесс текущих вышивок;</li>
                <li>запланировать будущие вышивки;</li>
                <li>контролировать скорость вышивания;</li>
                <li>планировать сроки вышивки;</li>
                <li>выкладывать фотографии процесса вышивки;</li>
                <li>играть в вышивальные игры</li>
                <li>и общаться с другими участниками.</li>
            </ul>
            </p>
            <p><a href="{{ path('fos_user_registration_register') }}">Добро пожаловать</a> в {{ site_name }}.</p>
            <p>
                Друзья, мы скопировали базу данных с профилями участников с сайта <a target="_blank"
                                                                                     href="http://skolko-krestikov.ru/">Сколько
                    крестиков.ру</a>, но некоторые из
                них, из-за сжатых сроков, перенеслись не целиком. Если кто хочет восстановить свой аккаунт или удалить,
                чтобы вновь зарегистрировать прежний ник, пишите в <a target="_blank"
                                                                      href="https://vk.com/dragonstitch">личные
                    сообщения</a> или
                в созданные специально для этого темы в <a target="_blank"
                                                           href="https://vk.com/club171516782">группе</a>.
            </p>
            <div class="alert alert-danger text-center">
                <b>Сайт работает в тестовом режиме.</b>
            </div>
        </div>
    </div>
{% endblock %}