{% extends 'profile/profile.html.twig' %}

{% block title %}Ваши друзья{% endblock %}

{% block info %}
    <ul class="nav nav-pills mb-2" id="friendsTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Друзья</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">Входящие запросы
                {% if app.user.inRequests|length >0 %}
                    <span class="badge badge-primary">+ {{ app.user.inRequests|length }}</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact">Исходящие запросы</a>
        </li>
    </ul>
    <div class="tab-content" id="friendsTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
            <div class="list-group">
                {% for friend in user.friends %}
                    <div class="list-group-item p-2">
                        {% embed 'friends/item.html.twig' %}
                            {% block friend_right %}
                                <a href="{{ path('app_friends_removefriend',{id:friend.id}) }}"
                                   class="btn btn-primary">Удалить</a>
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
            <div class="list-group">
                {% for request in user.inRequests %}
                    <div class="list-group-item p-2">
                        {% embed 'friends/item.html.twig' with {friend:request.from} %}
                            {% block friend_footer %}
                                <div class="emo">Сообщение: {{ request.comment }}</div>
                                <div class="text-light small">{{ request.createdAt | date('d.m.Y H:i:s') }}</div>
                            {% endblock %}
                            {% block friend_right %}
                                <a href="{{ path('app_friends_commitrequest',{id:request.id}) }}"
                                   class="btn btn-primary mr-1">Добавить
                                    в
                                    друзья</a>
                                <a href="{{ path('app_friends_commitrequest',{id:request.id,reject:true}) }}"
                                   class="btn btn-primary">Отказать</a>
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel">
            <div class="list-group">
                {% for request in user.outRequests %}
                    <div class="list-group-item p-2">
                        {% embed 'friends/item.html.twig' with {friend:request.to} %}
                            {% block friend_footer %}
                                <div class="emo">Сообщение: {{ request.comment }}</div>
                                <div class="text-light small">{{ request.createdAt | date('d.m.Y H:i:s') }}</div>
                            {% endblock %}
                            {% block friend_right %}
                                <a href="{{ path('app_friends_cancelrequest',{id:request.id}) }}"
                                   class="btn btn-primary">Отменить
                                    запрос</a>
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
