<div class="friend media">
    <div class="mr-3" style="height: 64px;width: 64px;">
        {% include 'image.html.twig' with {image:friend.image} %}
    </div>
    <div class="media-body">
        <div><b>
                {% include 'profile.html.twig' with {profile:friend} %}
            </b></div>
        {% block friend_info %}
        Логин: <b>{{ friend.username }}</b><br/>
        Дата регистрации: <b>{{ friend.createdAt | date ('d.m.Y') }}</b><br/>
        Город: <b>{{ friend.city }}</b><br/>
        {% endblock %}
        {% block friend_footer %}
        {% endblock %}
    </div>
    {% block friend_right %}
    {% endblock %}
</div>