{% extends "bundles/FOSUserBundle/auth.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block auth_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
