{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request recaptcha">
    <div class="form-group">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input  class="form-control" type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input class="btn-primary btn" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
