{% extends "bundles/FOSUserBundle/auth.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block auth_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock %}
