{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register  recaptcha'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        <a class="btn btn-secondary" href="{{ url('fos_user_security_login') }}">Войти</a>
    </div>
{{ form_end(form) }}
