{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form,{'action': app.request.pathInfo}) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">
    Сохранить
</button>
{{ form_end(form) }}