<table class="table table-bordered table-sm">
    <thead>
    <tr>
        {% if can_edit %}
            <th rowspan="2"></th>
        {% endif %}
        <th rowspan="2">Пользователь</th>
        <th rowspan="2">Проект</th>
        <th rowspan="2">Пред. отчет</th>
        <th rowspan="2">Новый отчет</th>
        <th colspan="2">Всего вышито</th>
        <th rowspan="2">Фото</th>
        <th rowspan="2">Недобор</th>
        <th rowspan="2">Комментарий</th>
    </tr>
    <tr>
        <th>Крестиков</th>
        <th>Проектов</th>
    </tr>
    </thead>
    {% for player in players %}
        {% if not player.gameOver %}
            {% set step = player.stepByStep(game_step) %}
            <tbody>
            <tr>
                {% if can_edit %}
                    <td>
                        {% if step %}
                            <button type="button" class="btn btn-link p-0" onclick="editStep({{ step.id }})">
                                <i class="fa fa-pencil"></i>
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-link p-0" onclick="reward({{ player.id }})">
                            <i class="fa fa-trophy"></i>
                        </button>
                        <button type="button" class="btn btn-link p-0"
                                onclick="dismiss('{{ player.user.username }}',{{ player.id }})"
                                title="Исключить из игры">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                {% endif %}
                <td>
                    {% include 'profile.html.twig' with {profile:player.user} %}
                    {% for reward in player.user.rewards(player.game) %}
                        {% include 'reward.html.twig' %}
                    {% endfor %}
                </td>
                <td>
                    {% set project = step? step.project:player.project %}
                    {% include '/project/link.html.twig' with {project:project} %}
                </td>
                <td>
                    {% if step %}
                        {{ step.previousCount }}
                    {% endif %}
                </td>
                <td>
                    {% if step %}
                        {{ step.count }}
                    {% endif %}
                </td>
                <td>
                    {% if step %}
                        {{ allCount(step) }}
                    {% endif %}
                </td>
                <td>
                    {% if step %}
                        {% set doneProjects = donePlayerProjects(step) %}
                        <span
                            {% if doneProjects | length > 0 %}
                                style="cursor: pointer"
                                data-toggle="tooltip" data-html="true" title="{% for doneProject in doneProjects %}{{ doneProject.name }} - {{ doneProject.end | date('d.m.Y') }}<br/>{% endfor %}"
                            {% endif %}
                    >{{ doneProjects | length }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if step %}
                        {% include 'img-tooltip.html.twig' with {image:step.project.photo(game_step)} %}
                    {% endif %}
                </td>
                <td>
                    {% if step %}
                        {{ step.penalty }}
                    {% endif %}
                </td>
                <td class="emo">
                    {% if step %}
                        {{ step.comment }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        {% endif %}
    {% endfor %}
</table>
{% if can_edit %}
    <div id="editStep" class="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <script>
        function editStep(stepId) {
            const editStepModal = $('#editStep');
            editStepModal.modal('show');
            $.get('/player_step/edit/' + stepId).then(function (res) {
                editStepModal.find('.modal-body').html(res);
                initEmo();
            })
        }

        function formatReward(item) {
            return $('<div>' + $(item.element).text() + '<img class="rew-img" src="/rewards/' + $(item.element).data('img') + '"></div>');
        }

        function dismiss(name, id) {
            if (confirm('Вы действительно хотите исключть ' + name + ' из игры?')) {
                window.location.href = '/game/' + id + '/dismiss';
            }
        }

        function reward(playerId) {
            const rewardModal = $('#editStep');
            rewardModal.find('.modal-body').html('');
            rewardModal.modal('show');
            $.get('/game/' + playerId + '/reward').then(function (res) {
                rewardModal.find('.modal-body').html(res);
                $('select[name="type"]').select2({
                    templateSelection: formatReward,
                    templateResult: formatReward,
                });
            })
        }
    </script>
{% endif %}