<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th>{{ 'Name'|trans }}</th>
        <th>{{ 'Type'|trans }}</th>
        <th>{{ 'Start'|trans }}</th>
        <th>{{ 'Players'|trans }}</th>
        <th>{{ 'Cross norm'|trans }}</th>
        <th>{{ 'Cross limit'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td><a href="{{ path('app_game_show', {'id': game.id}) }}">{{ game.name }}</a></td>
            <td>{{ game.type | gameType }}</td>
            <td>{{ game.start | date ('d.m.Y') }}</td>
            <td>{{ game.activePlayers | length }}{% if game.playerLimit %} из {{ game.playerLimit }}{% endif %}</td>
            <td>{{ game.crossNorm }}</td>
            <td>{{ game.crossLimit }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>