{% extends "/base.html.twig" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-12">
            {% block auth_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}