{% extends 'base.html.twig' %}

{% block title %}Архив игр{% endblock %}

{% block content %}
    <h2 class=" text-center mb-3">Завершенные игры</h2>
    <div class="row">
        <div class="col-12">
            {% include 'game/table.html.twig' %}
        </div>
    </div>
{% endblock %}