{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>Выберите проект для замены</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Заменить</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

