{% for comment in game.comments | reverse %}
    {% set itsMine = comment.user == app.user %}
    {% if lastUser is not null and comment.user != lastUser %}
        {% set isTo = not isTo %}
    {% endif %}
    {% set lastUser = comment.user %}
    <div class="message game-comment {{ isTo?'to':'from' }} {{ comment.user == game.organizer?'organizer':'' }}"
         style="min-height: 50px">
        <div class="message-content">
            <div class="avatar" style="overflow: hidden;">
                {% include 'image.html.twig' with {image:comment.user.image} %}
            </div>
            <div>
                <a href="{{ path('app_profile_show',{id:comment.user.id}) }}"> {{ comment.user.username }}</a>:
                <span class="message-text emo">{{ comment.comment | nl2br }}</span>
            </div>
            <div class="small  {{ isTo?'':'text-right' }}">
                                <span class="text-light">
                                        {{ comment.createdAt | date ('d.m.Y H:i:s') }}
                                    </span>
                {% if itsMine %}
                    <button class="btn btn-link p-0" title="Редактировать сообщение"
                            onclick="editGameComment(this,{{ comment.id }}, {{ comment.game.id }})">
                        <i class="fa fa-pencil"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}