{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ game.id?'Сохранить':'Создать' }}</button>
            <a class="btn btn-secondary" href="{{ path('app_profile_games',{id:app.user.id}) }}">Отмена</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

