{% extends '/game/layout.html.twig' %}

{% block info %}
    <div class="row">
        {% for project in projects %}
            {% if project.image %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 position-relative d-flex flex-column">
                    <div class="border p-2">
                        <a class="h-font" href="{{ path('app_project_show',{id:project.id}) }}">
                            {{ project.name }}
                        </a>
                        <div class="square mt-2">
                            {% include 'image.html.twig' with {image : project.image, preview:true} %}
                            <a class="h-font sign no-decor " href="{{ path('app_profile_show',{id:project.user.id}) }}">{{ project.user.username }}</a>
                        </div>
                        <span class="text-light small">{{ project.end | date('d.m.Y') }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    Галерея вышитых работ в игре {{ game.name }}
{% endblock %}

