{% extends 'base.html.twig' %}

{% block title %}Игры{% endblock %}

{% block content %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-secondary" href="{{ path('app_game_moderate') }}">Игры на модерации</a>
    {% endif %}
    <h2 class=" text-center mb-3">Текущие игры</h2>
    <div class="row">
        <div class="col-12">
            {% include 'game/table.html.twig' %}
        </div>
    </div>
    <a href="{{ path('app_game_archive') }}" class="btn btn-primary"><i class="fa fa-archive"></i> Архив игр</a>
{% endblock %}