{% extends 'base.html.twig' %}

{% set in_game = app.user and inGame(app.user,game) %}
{% set can_join = canJoin(app.user,game) %}

{% block content %}
    <h2 class="text-center mb-3">Игра № {{ game.id }} {{ game.name }}</h2>
    <div class="row">
        <div class="col-12 mb-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathInfo==path('app_game_show',{id:game.id})?'active':'' }}"
                       href="{{ path('app_game_show',{id:game.id}) }}">
                        <i class="fa fa-check"></i>
                        Игра</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathInfo==path('app_game_steps',{id:game.id})?'active':'' }}"
                       href="{{ path('app_game_steps',{id:game.id}) }}">
                        <i class="fa fa-calendar"></i>
                        Ходы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathInfo==path('app_game_comments',{id:game.id})?'active':'' }}"
                       href="{{ path('app_game_comments',{id:game.id}) }}">
                        <i class="fa fa-comments"></i>
                        Комментарии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathInfo==path('app_game_gallery',{id:game.id})?'active':'' }}"
                       href="{{ path('app_game_gallery',{id:game.id}) }}">
                        <i class="fa fa-image"></i>
                        Галерея</a>
                </li>
            </ul>
        </div>
    </div>

    {% block info %}

    {% endblock %}
{% endblock %}

