{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="text-center  mb-3">Игры для модерации</h2>
    <div class="row">
        <div class="col-12">
            {% include '/game/table.html.twig' with {can_moderate_game:true} %}
        </div>
    </div>
{% endblock %}

