{% if player.rewards | length > 0 %}
    <ul class="list-group mb-3">
        {% for reward in player.rewards %}
            <li class="list-group-item">
                {{ reward.rewardType.name }}
                {{ reward.createdAt | date('d.m.Y H:i') }}
                {% include 'reward.html.twig' %}
                <a class="btn btn-primary btn-sm" href="{{ path('app_game_cancelreward',{reward_id:reward.id}) }}">Отменить</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post" action="{{ path('app_game_reward',{player_id:player.id}) }}">
    <div class="form-group">
        <select name="type" class="form-control">
            {% for type in types %}
                <option value="{{ type.id }}" data-img="{{ type.image }}">
                    {{ type.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary">Наградить</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
</form>