{% extends '/game/layout.html.twig' %}

{% block info %}
    <div class="row">
        <div class="col-12 mb-3">
            <div>Ведущий: {% include 'profile.html.twig' with {profile:game.organizer} %}</div>
            <div>Участники: {% for player in game.activePlayers %}
                    {% include 'profile.html.twig' with{profile:player.user} %}{% if not loop.last %}; {% endif %}
                {% endfor %}
            </div>
            <div>{{ 'Start'|trans }}: {{ game.start | date ('d.m.Y') }}</div>
            <div class="border rounded p-1 emo">{{ 'Description'|trans }}: {{ game.description | nl2br }}</div>
            <div>{{ 'Cross limit'|trans }}: {{ game.crossLimit }}</div>
            <div>{{ 'Penalty limit'|trans }}: {{ game.penaltyLimit }}</div>
            <div>{{ 'Player limit'|trans }}: {{ game.playerLimit }}</div>
            <div>{{ 'Cross norm'|trans }}: {{ game.crossNorm }}</div>
            <div>{{ 'Step day'|trans }}: {{ game.stepDay | stepDay }}</div>
            <div>{{ game.canChange?'Можно':'Нельзя' }} менять проект</div>
            <div>{{ game.canJoin?'Можно':'Нельзя' }} присоединиться после старта</div>
            <div>Фотоотчет {{ game.needPhoto?'обязателен':'не обязателен' }}</div>
            <hr/>
            {% if can_join %}
                <a href="{{ path('app_game_join', {'id': game.id}) }}" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Присоединиться к игре
                </a>
            {% endif %}
            {% if in_game %}
                {% if  game.canChange %}
                    <a href="{{ path('app_game_projectchange', {'id': game.id}) }}" class="btn btn-secondary">
                        <i class="fa fa-file"></i>
                        Сменить проект
                    </a>
                {% endif %}
                <button onclick="leave('{{ path('app_game_leave', {'id': game.id}) }}')" class="btn btn-primary">
                    <i class="fa fa-sign-out"></i>
                    Покинуть игру
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        <script>
            function leave(url) {
                if (window.confirm('Вы действительно хотите покинуть игру? Прогресс будет удален.')) {
                    location.href = url;
                }
            }
        </script>
    {% endblock %}
