{% if game.moderated == null %}
    {% set class = 'warning' %}
{% elseif game.moderated == true%}
    {% set class = 'success' %}
{% elseif game.moderated == false %}
    {% set class = 'danger' %}
{% endif %}

<div class="badge badge-{{ class }}">
    {{ game | gameStatus }}
</div>