{% extends '/game/layout.html.twig' %}

{% block info %}
    <div class="row">
        <div class="col-12">
            {% if game.steps | length > 0 %}
                <div class="form-group form-group col-12 col-sm-6 col-md-3 p-0">
                    <select class="form-control" id="dateSelect">
                        {% for step in game.steps | reverse %}
                            <option value="{{ step.id }}">{{ step.date | date('d.m.Y') }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <h4 class="text-center">Пока нет ходов</h4>
            {% endif %}
            <p data-date="{{ nextDate | date('Y-m-d H:i:s') }}">Следующий ход будет </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 table-responsive" id="steps">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var dateSelect = $('#dateSelect');
        var steps = $('#steps');
        $(function () {
            dateSelect.change(function (e) {
                getSteps($(this).val());
            });
            getSteps(dateSelect.val());
            var nextDate =  moment.utc($('[data-date]').data('date')+'+03:00').local().format('DD.MM.YYYY HH:mm:ss');
            $('[data-date]').text($('[data-date]').text() + ' ' + nextDate);
        });

        function getSteps(gameStepId) {
            steps.fadeOut(200, function () {
                $.get('/game/' + gameStepId + '/steps/table').then(function (res) {
                    steps.html(res);
                    steps.fadeIn(200);
                    $('[data-toggle="tooltip"]').tooltip({boundary: 'window'});
                })
            });
        }
    </script>
{% endblock %}