{% set can_edit_game = can_edit_game | default(false) %}
{% set show_status = show_status | default(false) %}
{% set can_moderate_game = can_moderate_game | default(false) %}
{% set dynamic_limit = dynamic_limit | default(false) %}
<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Description'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Start'|trans }}</th>
            <th>{{ 'Players'|trans }}</th>
            <th>{{ 'Cross norm'|trans }}</th>
            {% if show_status %}
                <th>Статус</th>
            {% endif %}
            {% if can_edit_game %}
                <th></th>
            {% endif %}
            {% if can_moderate_game %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('app_game_show', {'id': game.id}) }}">{{ game.name }}</a></td>
                <td class="emo">{% if game.short is not null and game.short | length > 0 %}{{ game.short }}{% else %}{{ game.description | slice(0,100) }}{{ game.description | length > 100 ? '...':'' }}{% endif %}</td>
                <td>{{ game.type | gameType }}</td>
                <td>{{ game.start | date ('d.m.Y') }}</td>
                <td>{{ game.activePlayers | length }}{% if game.playerLimit %} из {{ game.playerLimit }}{% endif %}</td>
                <td>
                    {% if dynamic_limit and app.user %}
                        {{ mustCross(game,app.user) }} из {{ game.crossNorm }}
                    {% else %}
                        {{ game.crossNorm }}
                    {% endif %}
                </td>
                {% if show_status != false %}
                    <td>{% include '/game/status.html.twig' %}</td>
                {% endif %}
                {% if can_edit_game %}
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-secondary btn-sm" title="Редактировать"
                               href="{{ path('app_game_edit', {'id': game.id}) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            {% if game.moderated %}
                                <a class="btn  btn-primary btn-sm" title="Удалить"
                                   href="{{ path('app_game_remove', {'id': game.id}) }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                {% endif %}
                {% if can_moderate_game %}
                    <td>
                        <a class="btn btn-sm btn-primary"
                           href="{{ path('app_game_approve', {'id': game.id,approve:true}) }}">Одобрить</a>
                        <a class="btn btn-sm btn-secondary"
                           href="{{ path('app_game_approve', {'id': game.id}) }}">Отклонить</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
