.image-preview {
  z-index: 9999;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-image: url("/bg.jpeg");
  display: block;
  background-color: rgba(0, 0, 0, .5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  img {
    max-height: 100vh;
    max-width: 100vw;
  }

  .cls {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: white;
    border-radius: 1rem;
    line-height: 1rem;
  }
}

[data-preview] {
  cursor: pointer;
}