$font-family-base: 'CeraPro';
$font-size-base: 0.9rem;
$line-height-base: 1.5;
$primary: rgb(196, 193, 86);
$link-color: darken($primary,20%);
$navbar-dark-color: $link-color;
$navbar-dark-hover-color: #fff;
$secondary: #ebe1c8;
$light: #adb5bd;
$headings-color: darken($primary,20%);
$tooltip-bg: $secondary;
$tooltip-opacity: 1;
$tooltip-color: black;
$tooltip-max-width: 100%;

