@font-face {
  font-family: 'CeraPro';
  src: url(../fonts/CeraPro-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'CeraPro';
  src: url(../fonts/CeraPro-Bold.woff) format("woff");
  font-weight: 500;
}

@import "variables.scss";

@import "reward";
@import "image-preview";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css";

html {
  font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.85rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 0.9rem;
  }
}

.custom-file-label {
  white-space: nowrap;
  overflow: hidden;

  &:after {
    content: "Обзор";
  }
}

.input-group {
  .emojionearea.form-control {
    width: auto;
  }
}

.message-input {
  .emojionearea.form-control {
    height: auto;
  }

  .emojionearea .emojionearea-editor {
    min-height: 1em !important;
  }
}

.progress .progress-bar {
  font-weight: bold;
  font-size: .8rem;
  color: #212529;
}

.table td {
  vertical-align: middle;
}

.hidden {
  display: none;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebe1c8+1,ccbdaa+100 */
  background: #ebe1c8; /* Old browsers */
  background: -moz-linear-gradient(top, #ebe1c8 1%, #ccbdaa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ebe1c8 1%, #ccbdaa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ebe1c8 1%, #ccbdaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe1c8', endColorstr='#ccbdaa', GradientType=0); /* IE6-9 */

  &.cke_editable {
    @extend .container;
    background: white;
  }

  &.preview {
    overflow: hidden;
  }

  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
      background-color: #fdfdfd;
      flex: 1 auto;
    }
  }

  footer {
    display: flex;
    min-height: 150px;
    background-color: darken($primary, 20%);
    .social {
      a:hover {
        color: transparent;
      }
    }

  }
}

.no-decor {
  color: $link-color;

  &:hover {
    text-decoration: none;
    color: $link-color;
  }
}

.main-nav {
  font-weight: bold;
  background-color: #D9DBAC;
  font-size: 1rem;
  padding: .2rem 1rem !important;
}

.project-card {
  background-color: #fff;
  transition: all .3s ease;
  display: block;

  &:hover {
    @extend .shadow;
  }
}

.square {
  position: relative;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.image {
  &.load {
    opacity: 0;
  }

  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    text-align: center;
    font-family: $headings-font-family;
    color: $gray-500;
  }
}

.bg {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/bg.jpeg);
  z-index: -1;
}

.avatar {
  background-size: cover;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  border: 3px white solid;
}

a.sign {
  &:hover {
    transform: scale(1.1) rotate(-15deg);
  }

  position: absolute;
  bottom: 30px;
  right: 30px;
  transform: rotate(-15deg);
  text-shadow: -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.project-show {
  .image {
    background-position: center;
    @media (min-width: 576px) {
      background-position: right;
    }
  }
}

.comment-list {
  .comment:nth-child(2n) {
    background-color: #f8f9fa;
  }
}

@import "message";

.icon {
  width: 13px;
  height: 13px;
}