.messages {
  .message-box {
    .bg-message {
      background-image: url(/bgm.jpg);
      position: absolute;
      opacity: .5;
      top: -.5rem;
      bottom: -.5rem;
      left: -1rem;
      right: -1rem;
    }
    background: whitesmoke;
    overflow-y: auto;
    height: 0;
    padding: .5rem 1rem;
    .message {
      .message-content {
        z-index: 5;
        .message-text {
          word-break: break-word;
        }
      }
      position: relative;
      padding: .5rem 1rem;
      border-radius: 1rem;
      width: fit-content;
      width: -moz-fit-content;
      &:after {
        z-index: 0;
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        position: absolute;
        bottom: -1rem;
        border: 1rem solid transparent;
      }
      &.to {
        $roColor: white;
        margin: 0 auto 1rem 0;
        background-color: $roColor;
        &:after {
          left: 0;
          border-left-color: $roColor;
          transform: rotate(15deg);
        }
      }
      &.from {
        $fromColor: #C3F3B4;
        margin: 0 0 1em auto;
        background-color: $fromColor;
        &:after {
          right: 0;
          border-right-color: $fromColor;
          transform: rotate(-15deg);
        }
      }

      $orgColor :#d0f6ff;
      &.organizer {
        background-color: $orgColor;
        &.from:after {
          border-right-color: $orgColor;
        }
        &.to:after {
          border-left-color: $orgColor;
        }
      }
    }
  }
}

.game-comments {
  .message-box {
    padding: .5rem 2rem;
    .bg-message {
      left: -2rem;
      right: -2rem;
    }
  }
  .game-comment {
    .avatar {
      position: absolute;
      height: 35px;
      width: 35px;
      left: -25px;
      top: -0px;
      border: 2px white solid;
    }
  }
}