{% extends 'base.html.twig' %}

{% block body %}
    <style>
        footer {
            display: none !important;
        }
    </style>
    <div class="container d-flex content shadow p-2 flex-column col-12 col-sm-10 col-md-8 col-lg-6">
        {% include 'flash.html.twig' %}
        <div class="row mb-2">
            <div class="col-3">
                <a class="btn btn-secondary" href="{{ path('app_message_index') }}" title="Назад к диалогам">
                    <i class="fa fa-arrow-left"></i>
                    <span class="d-none d-md-inline">Назад к диалогам</span>
                </a>
            </div>
            <div class="col-6">
                <h4 class="text-center  d-flex flex-row justify-content-center m-0">
                    <div class="d-flex flex-column justify-content-center mr-2">
                        {{ user.username }}
                    </div>
                    <div class="d-none d-md-inline">
                        {% include 'avatar.html.twig' with {image:user.image, primary:true} %}
                    </div>
                </h4>
            </div>
        </div>
        <div class="messages d-flex flex-column flex-grow-1">
            <div class="message-box flex-grow-1 rounded d-flex flex-column">
                <div class="list-unstyled flex-grow-1 position-relative" id="message-table" data-user="{{ user.id }}">
                    <div class="bg-message"></div>
                </div>
            </div>
            <div class="message-input mt-2">
                <form method="post" action="{{ path('app_message_sendmessage',{id:user.id}) }}">
                    <div class="d-flex flex-row">
                        <div class="input-group">
                            <input minlength="1" class="form-control" name="message"
                                   data-emo
                                   placeholder="Начните печатать сообщение..." type="text"/>
                            <span class="input-group-append">
                            <button type="submit" title="Отправить" class="btn btn-primary">
                                <i class="fa fa-paper-plane"></i>
                                <span class="d-none d-md-inline">Отправить</span>
                            </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Диалог с {{ user.username }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/messages.js') }}"></script>
    <script>
        $(function () {
            var messageBox = $('.message-box');
            messageBox.animate({scrollTop: messageBox.children().outerHeight()}, "fast");
            setTimeout(function () {
                $.get('{{ path('app_message_read',{id:user.id}) }}')
            }, 2000);
        })
    </script>
{% endblock %}