{% if messages | length > 0 and messages.paginationData.last != messages.page %}
    <div class="more progress w-100 position-relative mb-2" data-page="{{ messages.page + 1 }}">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"
             role="progressbar">Загрузка сообщений
        </div>
    </div>
{% endif %}
{% for message in messages | reverse %}
    {% set isTo = message.from != app.user %}
    <div class="message {{ isTo?'to':'from' }}" style="min-height: 50px">
        <div class="message-content">
            <div class="emo message-text">{{ message.message }}</div>
            <div class="small  {{ isTo?'':'text-right' }}">
                                    <span class="text-light">
                                        {{ message.createdAt | date ('d.m.Y H:i:s') }}
                                    </span>
                {% if not isTo and message.readed %}
                    <i title="Прочитано" class="fa fa-check text-success"></i>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}