{% extends '/profile/profile.html.twig' %}

{% block title %}
    Диалоги
{% endblock %}

{% block info %}
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                {% for row in userLastMessage %}
                    <div class="list-group-item p-2">
                    {% embed 'friends/item.html.twig' with {friend:row.user} %}
                        {% block friend_info %}
                            <p class="m-0"><b>{{ row.message.from.username }}:</b> {{ row.message.message }}</p>
                        {% endblock %}
                        {% block friend_footer %}
                            <div class="text-light small">{{ row.message.createdAt | date('d.m.Y H:i:s') }}</div>
                        {% endblock %}
                        {% block friend_right %}
                            <a class="btn btn-primary" href="{{ path('app_message_dialog',{id:row.user.id}) }}">Сообщения
                            {% if row.new > 0 %}+{{ row.new }}{% endif %}
                            </a>
                        {% endblock %}
                    {% endembed %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
