<meta name="keywords"
      content="Записки хомяка, вышивка крестом, вышивка крестиком, скорость вышивки, проект, фотогалерея, схемы, галерея вышивок, отзывы о схемах, отзывы о вышивании, схемы для вышивки, вышивальный форум, вышивальные игры, прогноз окончания вышивки, планирование вышивки, описание схем, расчет ниток, калькулятор мулине, расчет ткани для вышивки, сколько в сантиметре крестиков">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest.json">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#c33953">
<link rel="shortcut icon" href="/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#c33953">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#c33953">

<meta property="og:image:width" content="279">
<meta property="og:image:height" content="279">
<meta property="og:url" content="{{ url('index') }}">
<meta property="og:image"
      content="{{ og_image | default(url('index')~"favicon/android-chrome-512x512.png") }}">
<meta property="og:title" content="Записки хомяка">
<meta property="og:description"
      content="{{ og_text | default('Записная книжка для вышивающих крестиком.') }}">
<script type='text/javascript'
        src='//platform-api.sharethis.com/js/sharethis.js#property=5bae49aa7283210011cb5bc6&product=sticky-share-buttons'
        async='async'></script>