{% if image != null %}
    <div class="avatar image {{ primary|default(false)?'border-primary':'' }}" style="background-image: url({% if app.debug %}https://zapiskihomyaka.ru{% endif %}/upload/{{ image.name }})"></div>
{% endif %}