<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104908497-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-104908497-3');
    </script>
    <base href="/">
    {% include '_meta.html.twig' %}
    {% block amp %}{% endblock %}
    {% set _title = block('title') %}
    <title>{{ site_name }} {% if _title  is not empty %}- {% endif %}{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emojione@4.0.0/extras/css/emojione.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/ru.js"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=initRecaptcha'></script>
    <script src="https://cdn.jsdelivr.net/npm/emojione@4.0.0/lib/js/emojione.min.js"></script>
</head>
<body>
{% if recaptcha_key | length > 0 %}
    <input id="recaptcha" type="hidden" value="{{ recaptcha_key }}">
{% endif %}
<main>
    {% if form is defined %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% endif %}
    {% include 'nav.html.twig' %}
    {% block body %}
        <div class="container content shadow py-3">
            {% include 'flash.html.twig' %}
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</main>
<footer class="container-fluid flex-column justify-content-center">
    <div class="row">
        <div class="col-12 text-center social">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100001664390836ref=bookmarks">
                <i class="fa fa-facebook-square fa-2x text-white mx-3"></i>
            </a>
            <a target="_blank" href="https://vk.com/club171516782">
                <i class="fa fa-vk fa-2x text-white mx-3"></i>
            </a>
            <a target="_blank" href="http://www.instagram.com/dragon__stitch">
                <i class="fa fa-instagram fa-2x text-white mx-3"></i>
            </a>
        </div>
        <div class="col-12 text-center mt-3">
            <a target="_blank" class="text-white h-font small" href="http://paktusin.github.io">Developed by
                Paktusin</a>
        </div>
    </div>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>
