{% extends 'base.html.twig' %}

{% block title %}
    Перевод разного вида стежков в крестики
{% endblock %}

{% block content %}
    <h2 class="text-center  mb-3">Расчет размера канвы</h2>
    <div class="row">
        <div class="col-12 mb-3">
            <div id="calc"></div>
        </div>
    </div>
    <hr/>
    <h2 class="text-center  mb-3">Перевод разного вида стежков в крестики</h2>
    <div class="row">
        <div class="col-12">
            <div id="cross"></div>
        </div>
    </div>
    <hr/>
    <h2 class="text-center  mb-3">Калькулятор для расчета ниток</h2>
    <p>
        Калькулятор для расчета метров пасмы (в 6 ниток), необходимых для вышивки. Расчет приводится для ниток мулине
        производства DMC при среднем разбросе цвета на картинке с небольшим запасом. Номер канвы взят из расчета вышивки
        через одно переплетение нити или через блок нитей*.
    </p>
    <p>
        Для расчета ниток, необходимых для вышивки полукрестиков, французских узелков, бекстича и пр., предварительно
        воспользуйтесь переводом стежков в крестики.
    </p>
    <div class="row">
        <div class="col-12">
            <div id="muline"></div>
        </div>
    </div>
    <small>
        * Имеется ввиду, что если Вы вышиваете, например, на канве Аида 18, то указывать в качестве номера нужно 18.
        Если Вы вышиваете на ткани Edinburgh 36 через два переплетения ткани, то указывать в качестве номер нужно тоже
        18 (36/2), для ткани Murano 32 при вышивки через два переплетения ткани - 16 (32/2). Если Вы вышиваете на
        последней ткани через одно переплетение нити, для расчета используйте граничное значение номера канвы - 22,
        результат будет приближен к искомому в большую сторону.<br/>
        **Получившееся количество метров в некоторых случаях может не соответствовать действительности, если:
        - на схеме большой разброс некоторых цветов;
        - техника вышивания допускает большой расход ниток;
        - расчет производится для значений, не указанных в таблице.
    </small>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/calc.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/calc.css') }}"/>
{% endblock %}


