{% set lastUser = null %}
{% set isTo = true %}
{% if comments | length > 0 and comments.paginationData.last != comments.page %}
    <div class="more progress w-100 position-relative mb-2" data-page="{{ comments.page + 1 }}">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"
             role="progressbar">Загрузка сообщений
        </div>
    </div>
{% endif %}
{% for comment in comments | reverse %}
    {% set itsMine = comment.user == app.user %}
    {% if lastUser is not null and comment.user != lastUser %}
        {% set isTo = not isTo %}
    {% endif %}
    {% set lastUser = comment.user %}
    <div class="message game-comment {{ isTo?'to':'from' }}
    {% if game %}{{ comment.user == game.organizer?'organizer':'' }}{% endif %}"
         style="min-height: 50px">
        <div class="message-content">
            <div class="avatar" style="overflow: hidden;">
                {% include 'image.html.twig' with {image:comment.user.image} %}
            </div>
            <div>
                <a href="{{ path('app_profile_show',{id:comment.user.id}) }}"> {{ comment.user.username }}</a>:
                <span class="message-text emo">{{ comment.comment | nl2br }}</span>
            </div>
            <div class="small  {{ isTo?'':'text-right' }}">
                                <span class="text-light">
                                        {{ comment.createdAt | date ('d.m.Y H:i:s') }}
                                    </span>
                {% if itsMine %}
                    <button class="btn btn-link p-0" title="Редактировать сообщение"
                            {% if game %} onclick="editGameComment(this,{{ comment.id }}, {{ comment.game.id }})"{% endif %}
                            {% if project %} onclick="editProjectComment(this,{{ comment.id }}, {{ comment.project.id }})"{% endif %}
                    >
                        <i class="fa fa-pencil"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}