{% set has_image = (image is defined and image is not null) %}
{% set load = load | default(false) %}
<div class="image {{ load and has_image?'load':'' }}"
        {% if has_image %}
            class="image"
            style="background-image: url({% if app.debug %}https://zapiskihomyaka.ru{% endif %}/upload/{{ image.name }})"
        {% else %}
            style="background-color: white"
        {% endif %}
        {% if preview is defined and has_image %}data-preview="true"{% endif %}
>
    {% if has_image %}
        <img {% if load %}onload="imgLoad(this)"{% endif %} src="{% if app.debug %}https://zapiskihomyaka.ru{% endif %}/upload/{{ image.name }}" hidden>
    {% else %}
        <span>Нет фото</span>
    {% endif %}
</div>
