{% if image is defined and image is not null %}
    <div style="height: 15rem">
        {% include 'image.html.twig' with {image:image,preview:true} %}
    </div>
{% endif %}
<div>
    {{ form_row(form.image_file) }}
    <label>Знак копирайта в изображении
        <input name="mark" type="checkbox"/>
    </label>
</div>