{% if image is defined and image is not null %}
<button data-toggle="tooltip"
        type="button"
        class="btn btn-link p-0"
        data-html="true"
        {#data-trigger="click"#}
        title="<div style='width:150px;height:150px;'><div class='image' style='background-image:url({% if app.debug %}https://zapiskihomyaka.ru{% endif %}/upload/{{ image.name }})'></div>">
    <i class="fa fa-camera-retro"></i>
</button>
{% endif %}