<nav class="navbar navbar-expand-md navbar-dark main-nav sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-md-none">
            <ul class="navbar-nav">
                <li class="nav-item d-flex flex-row">
                    {% if app.user %}
                        <a class="nav-link mr-2" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Вход</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% if app.user %}
            <div class="d-md-none">
                {% include 'avatar.html.twig' with {
                    image : app.user.image
                } %}
            </div>
        {% endif %}
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {{ active(path('index')) }}" href="{{ path('index') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ active(path('app_project_index')) }}" href="{{ path('app_project_index') }}">Все
                        проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ active(path('app_game_index')) }}"
                       href="{{ path('app_game_index') }}">Игры
                        {% if  is_granted('ROLE_SUPER_ADMIN') %}
                        {% set modGames = modGames() %}
                        {% if modGames > 0 %}
                        +{{ modGames }}</a>
                    {% endif %}
                    {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ active(path('app_home_calc')) }}" href="{{ path('app_home_calc') }}">Калькулятор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ active(path('app_home_page',{url:'rules'})) }}"
                       href="{{ path('app_home_page',{url:'rules'}) }}">Правила</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item d-md-flex d-none">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                    </li>
                    <li class="nav-item dropdown d-none d-md-flex">
                        <a class="nav-link dropdown-toggle pl-0" href="" id="userDropMenu" data-toggle="dropdown"></a>
                        <div class="dropdown-menu">
                            {#<a class="dropdown-item {{ active(path('fos_user_profile_show')) }}"#}
                            {#href="{{ path('fos_user_profile_show') }}">Профиль</a>#}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('sonata_admin_dashboard') }}">Админ панель</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">Сменить пароль</a>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Выход</a>
                        </div>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="{{ path('fos_user_change_password') }}">Сменить пароль</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Выход</a>
                    </li>
                {% else %}
                    <li class="nav-item d-md-flex d-none">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Вход</a>
                    </li>
                {% endif %}
            </ul>
            {% if app.user %}
                <div class="d-none d-md-block">
                    {% include 'avatar.html.twig' with {
                        image : app.user.image
                    } %}
                </div>
            {% endif %}
        </div>

    </div>
</nav>