{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-secondary" href="{{ path('admin_app_page_edit',{id:page.id}) }}">Редактировать</a>
        <hr/>
    {% endif %}
    <div class="row">
        <div class="col-12 emo">
            {{ page.text | raw }}
        </div>
    </div>
{% endblock %}