{% set value =  project.progressValue %}
<div class="progress mb-1">
    <div class="progress-bar
{#{% if value == 100 %}#}
    {#bg-success#}
{#{% elseif value >= 30 and value < 70 %}#}
     {#bg-warning #}
{#{% elseif value >= 70 %}#}
     {#bg-success #}
{#{% else %}#}
     {#bg-danger #}
{#{% endif %}#}
" role="progressbar"
         aria-valuenow="{{ value }}"
         aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%">
        {{ value }}%
    </div>
</div>