{% if reward is defined and reward is not null %}
    <img class="rew-img" src="/rewards/{{ reward.rewardType.image }}"
         data-toggle="tooltip"
         data-html="true"
         title="
                      <img class='img64' src='/rewards/{{ reward.rewardType.image }}'/>
         <p class='m-0'><b>{{ reward.rewardType.name }}</b></p>
             <p class='m-0'>Получен {{ reward.createdAt | date('d.m.Y H:i') }}<br/>
             в игре {{ reward.player.game.name }}</p>
"
    >
{% endif %}