{% autoescape %}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ url('index') }}</loc>
    </url>
    <url>
        <loc>{{ url('app_home_calc') }}</loc>
    </url>

    <url>
        <loc>{{ url('app_game_index') }}</loc>
    </url>
    {% for line in lines %}
        <url>
            <loc>{{ line }}</loc>
        </url>
    {% endfor %}
</urlset>
{% endautoescape %}