.select__control {
  background-color: white !important;
}

.select__control--is-focused {
  border-color: #C4C156 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(196, 193, 86, 0.25) !important;
}

.select__option {
  &:hover, &.select__option--is-selected {
    color: white !important;
    background-color: #C4C156 !important;
  }
}