{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex justify-content-center flex-column flex-grow-1">
        <h2 class="w-100 text-center">Ошибка 500</h2>
        <h4 class="text-center">На сервере произошла ошибка</h4>
        <h4 class="text-center">{{ status_text }}</h4>
    </div>
{% endblock %}