{% set progressId = progress is defined ? progress.id : null %}
{% if progressId != null %}
    <div class="btn-group btn-group-sm">
    <button type="button" title="Редактировать"
            class="btn btn-secondary"
            onclick="editProgress({{ progressId }})">
        <i class="fa fa-pencil"></i>
    </button>
    <a title="Удалить" href="{{ path('app_progress_remove',{id:progressId}) }}" class="btn btn-primary">
        <i class="fa fa-trash"></i>
    </a>
    </div>
{% else %}
    <button type="button" title="Добавить"
            class="btn btn-primary btn-sm mb-1"
            onclick="editProgress({{ project.id }},false)">
        <i class="fa fa-plus"></i> Добавить
    </button>
    <div id="editProgress" class="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endif %}