{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form,{'action': app.request.pathInfo}) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Сохранить</button>
<button class="btn btn-secondary" data-dismiss="modal">Отмена</button>
{{ form_end(form) }}