{% set endCount = project.crossCount - sum - project.startDoneCross %}
{% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}
<tr>
    {% if can_edit %}
        <td>
            {% include 'progress/edit.html.twig' %}
        </td>
    {% endif %}
    <td>
        {{ progress.date | date ('d.m.Y') }}
    </td>
    {% if isAdmin %}
        <td>{{ progress.createdAt!=null? progress.createdAt | date ('d.m.Y H:i:s'):'' }}</td>
        <td>{{ progress.updatedAt!=null?progress.updatedAt | date ('d.m.Y H:i:s'):'' }}</td>
    {% endif %}
    <td>{{ progress.count }}</td>
    <td>{{ sum }}</td>
    <td>{{ endCount>0?endCount:0 }}</td>
</tr>