{% extends '/project/project.html.twig' %}

{% block info %}
    {% if not project.disableComments %}
        <style>
            .content {
                display: flex;
                flex-direction: column;
            }

            footer {
                display: none !important;
            }
        </style>
        <div class="messages game-comments d-flex flex-column flex-grow-1">
            {% include 'flash.html.twig' %}
            <div class="message-box flex-grow-1 rounded d-flex flex-column">
                <div class="list-unstyled flex-grow-1 position-relative" id="message-table" data-project="{{ project.id }}">
                    <div class="bg-message"></div>
                </div>
            </div>
            {% if app.user %}
                {% set user = app.user %}
                <div class="message-input mt-2">
                    <form method="post" action="{{ path('app_project_addcomment',{id:project.id}) }}">
                        <div class="d-flex flex-row">
                            <div class="input-group">
                            <textarea minlength="1" class="form-control" name="comment"
                                      rows="1"
                                      data-emo
                                      placeholder="Начните печатать сообщение..." type="text"></textarea>
                                <span class="input-group-append">
                            <button type="submit" title="Отправить" class="btn btn-primary">
                                <i class="fa fa-paper-plane"></i>
                                <span class="d-none d-md-inline">Отправить</span>
                            </button>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    {% else %}
        <h3 class="text-light text-center">Комментарии к данному проекту отключены</h3>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/messages.js') }}"></script>
    <script>
        $(function () {
            setTimeout(function () {
                $.get('/project/{{ project.id }}/comments/read');
            }, 2000);
        });
    </script>
{% endblock %}