{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        <div class="small">(3-50 символов)</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.author) }}
                        {{ form_widget(form.author) }}
                        <div class="small">Укажите автора дизайна для участия проекта в общем поиске.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label>{{ 'Size cross'|trans }}</label>
                        <div class="form-row">
                            <div class="col">{{ form_widget(form.crossX) }}</div>
                            <div>x</div>
                            <div class="col">{{ form_widget(form.crossY) }}</div>
                        </div>
                        <div class="small">Если Вы знаете только размер в см, переведите в крестики, используя
                            калькулятор.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        {{ form_label(form.crossCount) }}
                        {{ form_widget(form.crossCount) }}
                        <div class="small">Заполните поле, если хотите, чтобы отображались прогнозы окончания вышивки.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        {{ form_label(form.colorCount) }}
                        {{ form_widget(form.colorCount) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            {{ form_label(form.thread) }}
                            {{ form_widget(form.thread) }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.base) }}
                        {{ form_widget(form.base) }}
                        <div class="small">Укажите основу вышивки для показа размера в сантиметрах.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.baseColor) }}
                        {{ form_widget(form.baseColor) }}
                        <div class="small">(3-50 символов)</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.startDoneCross) }}
                        {{ form_widget(form.startDoneCross) }}
                        <div class="small">Если на момент внесения проекта вышивка была уже начата, укажите в этом поле,
                            сколько крестиков вышито.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.endPlan) }}
                        {{ form_widget(form.endPlan) }}
                        <div class="small">Эта дата необходима для расчета средней скорости (крестиков/день), с которой
                            нужно вышивать, чтобы успеть закончить работу в срок. Кроме этого необходимо, чтобы было
                            заполнено поле "общее количество крестиков".
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.start) }}
                        {{ form_widget(form.start) }}
                        <div class="small">Заполните это поле, если Вы создаете текущий проект.
                            Если Вы создаете будущий проект, не заполняйте поле.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.end) }}
                        {{ form_widget(form.end) }}
                        <div class="small">Дата завершения проекта</div>
                    </div>
                </div>
            </div>
            {{ form_row(form.comment) }}
            {{ form_widget(form.hidden) }}
            <div class="small">Если галочка стоит, то этот проект будете видеть только Вы. В общих списках он выдаваться
                не будет.
            </div>
            {{ form_row(form.disableComments) }}
            {% include 'image_input.html.twig' with {image:project.image} %}
            <button class="btn btn-primary">{% if project.id %}Сохранить{% else %}Добавить проект{% endif %}</button>
            {% if project.id %}
                <a class="btn btn-secondary" href="{{ path('app_project_show',{id:project.id}) }}">Отмена</a>
                <a class="btn btn-primary" href="{{ path('app_project_remove',{id:project.id}) }}">Удалить</a>
            {% else %}
                <a class="btn btn-secondary" href="{{ path('fos_user_profile_show') }}">Отмена</a>
            {% endif %}
            {#{% if project.id %}#}
            {#{% if project.end is null and project.start is not null %}#}
            {#<a class="btn btn-secondary" href="{{ path('app_project_finish',{id:project.id}) }}">Завершить#}
            {#проект</a>#}
            {#{% elseif project.end is not null %}#}
            {#<a class="btn btn-secondary" href="{{ path('app_project_finish',{id:project.id}) }}?again=true">Перенести#}
            {#в текущие</a>#}
            {#{{ 'End'|trans }} {{ project.end | date ('d.m.Y') }}#}
            {#{% endif %}#}
            {#{% endif %}#}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    {% if project.id %}Изменить{% else %}Добавить{% endif %} проект
{% endblock %}
