{% extends 'base.html.twig' %}

{% block content %}
    <p>Прокт находиться в игре. Вы хотите внести новый проект на замену?</p>
    <div class="row">
        <div class="col-12">
            <h3>Выберите проект для замены</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% if projects|length == 0 %}
                <p>У вас нет проектов на замену в игре.</p>
                <a href="{{ path('app_project_create') }}" class="btn btn-primary">Добавить проект</a>
            {% else %}
                <button type="submit" class="btn btn-primary">Заменить</button>
            {% endif %}
            <button onclick="cancel()" type="button" class="btn btn-secondary">Не заменять и завершить игру</button>
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        function cancel() {
            $('#form_change').val(0);
            $('form').submit();
        }
    </script>
{% endblock %}

