{% extends 'base.html.twig' %}

{% block title %}Все проекты{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 mb-3">
            <form method="get">
                <div class="input-group">
                    <input name="search" class="form-control" placeholder="Поиск..." type="text"
                           value="{{ search }}">
                    <span class="input-group-append">
                    <button class="btn btn-secondary">Найти</button>
                </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row project-list">
        {% for project in projects %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 position-relative d-flex flex-column">
                <a class="project-card border p-2 no-decor flex-grow-1"
                   href="{{ path('app_project_show',{id:project.id}) }}">
                    <h5 class="title">{{ project.name }}</h5>
                    {% if project.author is not null %}
                        <p class="text-light mb-1">Дизайн: {{ project.author.name }}</p>
                    {% endif %}
                    <div class="square">
                        {% include 'image.html.twig' with {image : project.image, load:false} %}
                    </div>
                </a>
                <a class="h-font sign no-decor " href="{{ path('app_profile_show',{id:project.user.id}) }}">{{ project.user.username }}</a>
            </div>
        {% endfor %}
        {% if projects | length==0 and search | length > 0 %}
            <div class="col-12">
                <h3 class="text-light text-center">По запросу "{{ search }}" ничего не найдено</h3>
            </div>
        {% endif %}
    </div>
    {{ knp_pagination_render(projects) }}
{% endblock %}