{% if project is defined %}
    <diV>
        <a href="{{ path('app_project_show',{id:project.id}) }}">{{ project.name }}</a>
        {% include 'img-tooltip.html.twig'with {image:project.image} %}
        {% for player in project.activePlayers %}
            <a class="btn btn-link p-0" title="Участвует в игре: {{ player.game.name }}"
               href="{{ path('app_game_show',{id:player.game.id}) }}">
                <i class="fa fa-check"></i>
            </a>
        {% endfor %}
    </diV>
{% endif %}