{% extends '/project/project.html.twig' %}

{% block info %}
    <div class="row">
        {% for photo in project.images %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 position-relative d-flex flex-column">
                <div class="project-card border p-2">
                    <div class="square mb-1">
                        {% include 'image.html.twig' with {image:photo,preview:true} %}
                    </div>
                    <div class="d-flex">
                        <span class="small text-light">{{ photo.createdAt | date ('d.m.Y H:i:s') }}</span>
                        {% if can_edit %}
                            <button class="ml-auto deleteImage btn btn-sm btn-primary"
                                    onclick="deleteImage('{{ path('app_project_removephoto',{id:project.id,image_id:photo.id}) }}')">
                                <i class="fa fa-trash"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if can_edit %}
        <div class="row">
            <div class="col-12">
                <form enctype="multipart/form-data" method="post" id="addImageFrom"
                      action="{{ path('app_project_addphoto',{id:project.id}) }}">
                    <input name="image_file" id="image_file" type="file" accept="image/*" hidden>
                    <label>Знак копирайта в изображении
                        <input name="mark" type="checkbox" checked="checked"/>
                    </label>
                </form>
                <button onclick="addImage()" type="button" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    Добавить фото
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        function addImage(e) {
            $('#image_file').trigger('click');
        }

        function deleteImage(url) {
            if (window.confirm('Вы действительно хотите удалить изображение ?')) {
                location.href = url;
            }
        }

        $(function () {
            $('#image_file').change(function (e) {
                if ($(e.target).val().length > 0) $(e.target).parent().submit();
            });
        })
    </script>
{% endblock %}