{% if project.progress | length < 10 %}
    {% set show_pgs = project.progress %}
    {% set first_pgs = [] %}
    {% set hidden_pgs = [] %}
{% else %}
    {% set first_pgs = project.progress | slice(0,1) %}
    {% set hidden_pgs = project.progress | slice(1,project.progress|length - 6) %}
    {% set show_pgs = project.progress | slice(project.progress|length - 5,project.progress|length) %}
{% endif %}
{% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

    {% if can_edit %}
        {% include 'progress/edit.html.twig' %}
    {% endif %}
<table class="table table-sm table-bordered">
    <thead style="word-break: break-all">
    <tr>
        {% if can_edit %}
            <th width="10%"></th>
        {% endif %}
        <th>Дата</th>
        {% if isAdmin %}
            <th>Создан</th>
            <th>Изменен</th>
        {% endif %}
        <th>За день</th>
        <th>Вышито</th>
        <th>Осталось</th>
    </tr>
    </thead>
    {% set sum = 0 %}
    <tbody>
    {% for progress in first_pgs %}
        {% set sum = sum + progress.count %}
        {% include '/progress/item.html.twig'  %}
    {% endfor %}
    </tbody>
    {% if hidden_pgs|length > 0 %}
        <tr>
            <td class="text-center" colspan="{{ can_edit?5:4 }}">
                <button class="btn btn-link p-0" onclick="showHidden(this)">Показать остальные записи</button>
            </td>
        </tr>
        <tbody id="hiddenProgress" class="hidden">
        {% for progress in hidden_pgs %}
            {% set sum = sum + progress.count %}
            {% include '/progress/item.html.twig' %}
        {% endfor %}
        </tbody>
    {% endif %}
    <tbody>
    {% for progress in show_pgs %}
        {% set sum = sum + progress.count %}
        {% include '/progress/item.html.twig' %}
    {% endfor %}
    </tbody>
</table>
<script>
    function showHidden(el) {
        $(el).parents('tr').first().hide();
        document.getElementById('hiddenProgress').classList.remove('hidden');
    }
</script>
