{% extends 'base.html.twig' %}

{% set its_mine = (project.user == app.user) %}
{% set can_edit = (its_mine or is_granted('ROLE_SUPER_ADMIN')) %}

{% if project.image %}
    {% set og_image = url('index')~'upload/'~project.image.name %}
{% endif %}
{% set og_text = project.name %}
{% set new_comments = newComments(project) %}

{% block content %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1 class="text-center">
                {{ project.name }}
            </h1>
        </div>
    </div>
    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link {{ app.request.pathInfo==path('app_project_show',{id:project.id})?'active':'' }}"
               href="{{ path('app_project_show',{id:project.id}) }}">
                <i class="fa fa-file"></i>
                Проект</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ app.request.pathInfo==path('app_project_photos',{id:project.id})?'active':'' }}"
               href="{{ path('app_project_photos',{id:project.id}) }}">
                <i class="fa fa-picture-o"></i>
                Фото</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ app.request.pathInfo==path('app_project_comments',{id:project.id})?'active':'' }}"
               href="{{ path('app_project_comments',{id:project.id}) }}">
                <i class="fa fa-comments"></i>
                Комментарии
                {% if app.user == project.user %}
                    {{ new_comments>0?'+'~new_comments:'' }}
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_profile_show',{id:project.user.id}) }}">
                <i class="fa fa-user"></i>
                Профиль</a>
        </li>
    </ul>
    {% block info %}
    {% endblock %}
{% endblock %}

{% block title %}
    {{ project.name }}
{% endblock %}