{% extends '/project/project.html.twig' %}

{% block info %}
    <div class="row project-show">
        <div class="col-12 col-sm-6 mb-3" style="height: 15rem">
            {% include 'image.html.twig' with {image:project.image,preview:true} %}
            <a class="h-font sign no-decor "
               href="{{ path('app_profile_show',{id:project.user.id}) }}">{{ project.user.username }}</a>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            {% if project.comment is not null %}
                <p class="emo">{{ project.comment }}</p>
                <hr/>
            {% endif %}
            <p>
                {% if project.activePlayers | length %}
                    <span>Участвует в игре:
                        {% for player in project.activePlayers %}
                            <a class="font-weight-bold"
                               href="{{ path('app_game_show',{id:player.game.id}) }}">{{ player.game.name }}</a>
                        {% endfor %}
                    </span><br/>
                {% endif %}
                {% if project.author is not null %}
                    <span>{{ 'Author'|trans }}: <b>{{ project.author.name }}</b></span><br/>
                {% endif %}
                {% if project.thread is not null %}
                    <span>{{ 'Thread'|trans }}: <b>{{ project.thread.name }}</b></span><br/>
                {% endif %}
                {% if project.base is not null %}
                    <span>{{ 'Base'|trans }}: <b>{{ project.base.name }}</b></span><br/>
                {% endif %}
                <span>{{ 'Size'|trans }}: <b>
                         {{ project.size }}
                        </b></span><br/>
                {% if project.crossCount is not null %}
                    <span>{{ 'Cross count'|trans }}: <b>{{ project.crossCount }}</b></span><br/>
                {% endif %}
                {% if project.colorCount is not null %}
                    <span>{{ 'Color count' | trans }}: <b>{{ project.colorCount }}</b></span><br/>
                {% endif %}
                {% if project.baseColor is not null %}
                    <span>{{ 'Base color' | trans }}: <b>{{ project.baseColor }}</b></span><br/>
                {% endif %}
                {% if project.startDoneCross >0 %}
                    <span>{{ 'Start done cross' | trans }}: <b>{{ project.startDoneCross }}</b></span><br/>
                {% else %}
                    <span>Работа вышивается с нуля.</span><br/>
                {% endif %}
                {% if project.start != null %}
                    <span>{{ 'Start' | trans }}: <b>{{ project.start | date('d.m.Y') }}</b></span><br/>
                {% endif %}
                {% if project.endPlan is not null %}
                    <span>{{ 'End plan' | trans }}: <b>{{ project.endPlan | date('d.m.Y') }}</b></span><br/>
                {% endif %}
                {% if project.end is not null %}
                    <span>{{ 'End' | trans }}: <b>{{ project.end | date('d.m.Y') }}</b></span><br/>
                {% endif %}
                {% if project.hidden %}
                    <b>Скрытый проект</b><br/>
                {% endif %}
            </p>
            <hr/>
            <div>
                {% include '_share_buttons.html.twig' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-1">
            {% if can_edit %}
                <a class="btn btn-secondary mb-1"
                   href="{{ path('app_project_edit',{id:project.id}) }}">Редактировать
                </a>
            {% endif %}
            {% include '/profile/_add_watcher.html.twig' %}
        </div>
    </div>
    {% if project.watchers | length > 0 %}
        <div class="row">
            <div class="col-12 mb-3 watchers">
                Наблюдают за проектом:
                {% for watcher in project.watchers %}
                    {% include 'profile.html.twig' with {profile:watcher} %}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if project.current and project.crossCount > 0 %}
        <div class="row">
            <div class="col-12">
                {% include '/progress_bar.hrml.twig' %}
                <div>Вышито: {{ project.progressCount }} крестиков за {{ project.progressDaysCount }} дней</div>
                <div>Осталось вышить: {{ project.progressCountLeft }} крестиков за {{ project.progressDaysLeft }} дней
                </div>
                <div>Средняя скорость вышивания проекта: {{ project.progressSpeed }} кр./день</div>
                <div>Прогноз окончания вышивки: {{ project.progressPlanEnd | date ('d.m.Y') }}</div>
                {% if project.mustSpeed > 0 %}
                    <div class="border rounded p-2">
                        Чтобы успеть закончить вышивку <b
                                class="">{{ project.endPlan | date ('d.m.Y') }}</b>,
                        нужно вышивать со скоростью <b class="">{{ project.mustSpeed }}</b> кр./день
                        ({{ project.mustSpeed * 7 }} кр./неделю)
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row progress-list mt-3">
        <dv class="col-12 col-lg-6 offset-lg-3">
            <h5 class="text-center">{{ 'Progress' | trans }}</h5>
            {% include '/project/progress.html.twig' %}
        </dv>
    </div>
{% endblock %}

{% block amp %}
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ url('app_project_show',{id:project.id}) }}"
    },
    "headline": "{{ project.name }}",
    "image": {
    "@type": "ImageObject",
    "url": "{{ url('index') }}{{ project.image?'upload/'~project.image.name : 'favicon/android-chrome-512x512.png' }}"
    },
    "datePublished": "{{ (project.start?project.start:'now') | date ('c') }}",
    "dateModified": "{{ 'now'| date ('c') }}",
    "author": {
    "@type": "Person",
    "name": "{{ project.user.username }}"
    },
    "publisher": {
    "@type": "Organization",
    "name": "{{ site_name }}",
    "logo": {
    "@type": "ImageObject",
    "url": "{{ url('index')~'favicon/android-chrome-512x512.png' }}"
    }
    },
    "description": "{{ project.comment }}"
    }



    </script>
{% endblock %}