{% extends '/mail/mail.html.twig' %}

{% block body %}
    <p>Ваш проект {{ project.name }} прокомментировал(а) {{ from.username }}</p>
    <a href="{{ url('app_project_comments',{id:project.id}) }}">Прочитать</a>
{% endblock %}
