<p><b>Привет {{ to.name }}</b></p>
<p>
    {% block body %}
    {% endblock %}
</p>
<p>
    <small>Чтобы отключить уведомления настройте свой профиль по <a href="{{ url('app_profile_edit') }}">ссылке</a></small>
</p>